.tutor-page-header {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 5vh;
  color: #444;
}

.tutor-page-info {
  background-color: #9cbaba;
  width: 73%;
  margin: auto;
  padding: 1%;
  margin-top: 9vh;
  border-radius: 10px
}

.tutors-page-item,
.tutor-page-subject,
.tutor-page-subjects {
  margin-left: 3vw;
  color: #310080;
  font-weight: 700;
}

.tutors-page-item {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.tutor-page-subject {
  padding-top: 1%;
  padding-bottom: 1%;
  text-transform: capitalize;
}
.tutor-page-email> a{
  color: #310080;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .tutor-page-info {
    width: 60%;
  }

  .tutors-page-item,
  .tutor-page-subject {
    margin-left: 3.5vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .tutor-page-info {
    width: 50%;
  }

  .tutors-page-item,
  .tutor-page-subject {
    margin-left: 5vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .tutor-page-info {
    width: 45%;
 
  }

  .tutors-page-item,
  .tutor-page-subject {
    margin-left: 5.5vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .tutor-page-info {
    width: 40%;
  }

  .tutors-page-item,
  .tutor-page-subject {
    margin-left: 5vw;
  }
}
