.tutor {
  background-color: #9cbaba;
  width: 100%;
  color: #310080;
  padding: 1vw;
  margin-bottom: 4.5vh;
  font-size: 18px;
  border-radius: 10px
}

.tutor:hover {
  background-color:#8DB0B0;
  color: #1F0052;
}

.tutor-li {
  display: flex;
}

.tutors-item {
  text-align: center;
  font-weight: 700;
  width: 32%;
  text-decoration: none;
}

.tutor-price,
.tutor-name {
  flex-grow: 1;
}

.tutor-subject {
  flex-grow: 2;
  text-transform: capitalize;
}
