.tutor {
  background-color: #9cbaba;
  width: 100%;
  color: #444;
  padding: 1vw;
  margin-bottom: 4.5vh;
  font-size: 18px;
}

.tutor-ul {
  display: flex;
}

.tutors-item {
  text-align: center;
  width: 32%;
}
.tutor-name {
  text-decoration: underline;
}
.tutor-price,
.tutor-name {
  flex-grow: 1;
}

.tutor-subject {
  flex-grow: 2;
  text-transform: capitalize;
}
