.login-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.login-link>a {
    width: 70px;
    height: 24px;
    text-align: center;
}

.tutor-table {
    height: 15vh;
}

.tutors-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.beta {
    background-color: blueviolet;
    color: azure;
    height: 6vh;
    line-height: 6vh;
    text-align: center;

}

.beta>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0 auto;
    width: 80%;
    font-weight: 800;
}