.tutor-sign-up-section {
    height: 40vh;
    width: 100%;
}

.tutor-sign-up-form {
    display: flex;
    flex-direction: column;
    background-color: #9CBABA;
    height: 35vh;
    width: 80%;
    margin: auto;
    margin-top: 8vh;
}

.tutor-add-label,
.tutor-add-input,
.tutor-add-gender,
.tutor-add-next-button {
    font-size: 16px;
    margin-top: .3vh;
    width: 80%;
    margin: auto;
}

.tutor-add-input,
.tutor-add-gender {
    padding: 2px 1px;
    width: 100%;
}

.tutor-add-gender {
    width: 100%;
}

.tutor-add-next-button,
.tutor-add-input-sign-up-button {
    width: 81%;
}

.tutor-add-label.subject,
.tutor-add-input.subject,
.tutor-add-label.fee,
.tutor-add-input.fee {
    margin-bottom: 0;
}

.medium {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.lastDiv {
    height: 6vh;
    margin: auto auto;
    line-height: 6vh;
    text-align: center;
    background-color: azure;
    width: 80%;
}

.lastMessage {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0 auto;
    width: 80%;
    font-weight: 800;
}