.filters-container {
    height: 16vh;
    width: 70%;
    margin: auto;
    margin-top: 5vh;
}

.filters-header {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

.form {
    display: flex;
    flex-direction: column;
}