.App {
    height: 100%;
}

nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 5%;
}

nav>a {
    padding: 1.5%;
    width: 89px;
    text-align: center;
}