.navbar {
    height: 16%;
    background-color: #906d59;/* #8E7363;*/
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 0;
    width: 100%;
}
.nav-text {
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.nav-text>p, .nav-text>.tutor {
    background-color: #906d59;
    color: white;
    width: 35%;
    font-size: 22px;
    padding: 2% 0;
    margin: 0;
    text-align: center;
    height: 40%;
}

.nav-text>p {
    font-weight: 700;
}

.nav-text > .tutor:hover {
    background-color: #a1816f;
    border-radius: 10px
}
